# First print your name in the cell below then save this file. (or something nice about your instructor)

In [1]:
# In this cell print your name 

print("Lin Htet Aung")


with open("myname.txt", 'w') as f:
    f.write("Lin Htet Aung")

Lin Htet Aung

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [3]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [4]:
# Load data here

df = pd.read_csv('../data/listings.csv')

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [17]:
# 1. How many listings are there with a price less than 100? 
c1 = df['price'] < 100

new_ls = df[c1].neighbourhood_group.value_counts

In [12]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.

c2 = df['neighbourhood_group'] == 'Brooklyn'

print(c2)

0        False
1         True
2         True
3         True
4        False
         ...
46522    False
46523    False
46524     True
46525    False
46526     True
Name: neighbourhood_group, Length: 46527, dtype: bool

In [14]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

new_ls = df[c1 & c2]

print(new_ls)

             id                                               name    host_id  \
1          3831  Whole flr w/private bdrm, bath & kitchen(pls r...       4869
2          5121                                    BlissArtsSpace!       7356
8          5803     Lovely Room 1, Garden, Best Area, Legal rental       9744
21        10452                              Large B&B Style rooms      35935
22        10962            Lovely Room 2; Garden; Best area, Legal       9744
...         ...                                                ...        ...
46510  44798876  Unique & beautiful design! Skylights-Washer/dryer  143513836
46517  44802032                  A very large room in Williamsburg  213793805
46518  44802224  Unique & beautiful design! Skylights-Washer/dryer  143513836
46524  44811717  Comfortable safe environment 24hr security camera  362453686
46526  44818009  5MIN D/N trains, NEAR THE BEACH, 50’ TO MANHATTAN   48098268

         host_name neighbourhood_group       neighbourhood  latitude  \
1      LisaRoxanne            Brooklyn        Clinton Hill  40.68514
2            Garon            Brooklyn  Bedford-Stuyvesant  40.68688
8           Laurie            Brooklyn         South Slope  40.66829
21          Angela            Brooklyn  Bedford-Stuyvesant  40.68310
22          Laurie            Brooklyn         South Slope  40.66869
...            ...                 ...                 ...       ...
46510    Elisabeth            Brooklyn       Crown Heights  40.67156
46517         Omer            Brooklyn        Williamsburg  40.71970
46518    Elisabeth            Brooklyn       Crown Heights  40.67302
46524       Nicole            Brooklyn       East Flatbush  40.65399
46526       Marina            Brooklyn           Gravesend  40.59945

       longitude        room_type  price  minimum_nights  number_of_reviews  \
1      -73.95976  Entire home/apt     75               1                340
2      -73.95596     Private room     60              29                 50
8      -73.98779     Private room     88               4                180
21     -73.95473     Private room     70               3                 75
22     -73.98780     Private room     88               4                180
...          ...              ...    ...             ...                ...
46510  -73.91651     Private room     61              30                  0
46517  -73.95632     Private room     55              14                  0
46518  -73.91695     Private room     61              30                  0
46524  -73.93287     Private room     59               3                  0
46526  -73.98209     Private room     66               1                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
1      2020-08-01               4.75                               1
2      2019-12-02               0.37                               1
8      2020-03-18               1.31                               3
21     2019-10-12               0.60                               2
22     2020-08-03               1.36                               3
...           ...                ...                             ...
46510         NaN                NaN                               5
46517         NaN                NaN                               1
46518         NaN                NaN                               5
46524         NaN                NaN                               1
46526         NaN                NaN                               1

       availability_365
1                   265
2                   365
8                   344
21                  365
22                  365
...                 ...
46510               329
46517                45
46518               363
46524                90
46526                38

[10473 rows x 16 columns]

In [16]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names

host_names = ['Michael', 'Davide', 'John', 'Daniel']

condition = df.host_name.isin(host_names)

df[condition].value_counts

<bound method DataFrame.value_counts of              id                                               name    host_id  \
52        16595  LOFT HAVEN ~ Six Windows ~ Bricks ~ Plants ~ Q...      64522
209       62903  Beautiful modern studio apartment in heart of NYC     306605
260       74073       Food & Music Dream Apartment in Williamsburg     211877
349      138216                 Sunny and Spacious Designer's Home     674970
351      140133                    Truly Amazing Oasis In The City     622866
...         ...                                                ...        ...
46326  44609991     THE "BUSHWICK EXPERIENCE"- CENTER OF IT ALL!!!   23296177
46332  44615784          Feel at home in the heart of Williamsburg   40999075
46362  44639591  Central & Stylish 1 Bedroom Apt - Heart of Che...  286136716
46396  44661297                       Flushing Sunshine home  #101  361579037
46403  44662157                        Flushing Sunshine home #102  361579037

      host_name neighbourhood_group neighbourhood  latitude  longitude  \
52       Daniel            Brooklyn  Williamsburg  40.70933  -73.96792
209      Daniel           Manhattan       Chelsea  40.74238  -73.99567
260      Daniel            Brooklyn  Williamsburg  40.71113  -73.96054
349     Michael            Brooklyn    Greenpoint  40.72212  -73.94254
351      Daniel            Brooklyn  Williamsburg  40.71363  -73.96019
...         ...                 ...           ...       ...        ...
46326    Daniel            Brooklyn      Bushwick  40.70326  -73.92547
46332      John            Brooklyn    Greenpoint  40.71975  -73.95213
46362      John           Manhattan       Chelsea  40.74568  -73.99694
46396    Daniel              Queens      Flushing  40.74603  -73.82837
46403    Daniel              Queens      Flushing  40.74441  -73.82829

             room_type  price  minimum_nights  number_of_reviews last_review  \
52     Entire home/apt    271               1                172  2020-07-14
209    Entire home/apt    205              15                 68  2019-12-14
260    Entire home/apt    187              30                 90  2020-07-31
349    Entire home/apt    100               6                  9  2019-09-20
351    Entire home/apt    255               3                172  2020-07-02
...                ...    ...             ...                ...         ...
46326     Private room     80               1                  0         NaN
46332  Entire home/apt    105               2                  0         NaN
46362  Entire home/apt    110              30                  0         NaN
46396     Private room     52               1                  0         NaN
46403     Private room     55               1                  3  2020-08-16

       reviews_per_month  calculated_host_listings_count  availability_365
52                  1.44                               1               365
209                 0.67                               2                89
260                 0.81                               1               261
349                 0.17                               1                 0
351                 1.56                               1               319
...                  ...                             ...               ...
46326                NaN                               1                90
46332                NaN                               1                13
46362                NaN                               3               110
46396                NaN                               2               360
46403               3.00                               2               365

[913 rows x 16 columns]>

In [19]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

df['private_room_in_williamsburg'] =  np.where( c1 & c2, 1, 0 )

c1 = df['neighbourhood'] == 'Williamsburg'

df['adjusted_price'] = np.where(c1, df['price'] + 100, df['price'])

print(df.head)

<bound method NDFrame.head of              id                                               name    host_id  \
0          2595                              Skylit Midtown Castle       2845
1          3831  Whole flr w/private bdrm, bath & kitchen(pls r...       4869
2          5121                                    BlissArtsSpace!       7356
3          5136           Spacious Brooklyn Duplex, Patio + Garden       7378
4          5178                   Large Furnished Room Near B'way　       8967
...         ...                                                ...        ...
46522  44807522         Designer Gramercy Studio Townhouse by UNSQ   12941925
46523  44807786  Cozy & comfy apt in the heart of Inwood Manhattan  284790520
46524  44811717  Comfortable safe environment 24hr security camera  362453686
46525  44814944                 Upper West Side studio 86th Street    4039777
46526  44818009  5MIN D/N trains, NEAR THE BEACH, 50’ TO MANHATTAN   48098268

         host_name neighbourhood_group       neighbourhood  latitude  \
0         Jennifer           Manhattan             Midtown  40.75362
1      LisaRoxanne            Brooklyn        Clinton Hill  40.68514
2            Garon            Brooklyn  Bedford-Stuyvesant  40.68688
3          Rebecca            Brooklyn         Sunset Park  40.66120
4         Shunichi           Manhattan      Hell's Kitchen  40.76489
...            ...                 ...                 ...       ...
46522        Brian           Manhattan            Gramercy  40.73433
46523        Salar           Manhattan  Washington Heights  40.85820
46524       Nicole            Brooklyn       East Flatbush  40.65399
46525     Fernando           Manhattan     Upper West Side  40.78731
46526       Marina            Brooklyn           Gravesend  40.59945

       longitude        room_type  price  minimum_nights  number_of_reviews  \
0      -73.98377  Entire home/apt    175               3                 48
1      -73.95976  Entire home/apt     75               1                340
2      -73.95596     Private room     60              29                 50
3      -73.99423  Entire home/apt    175              14                  1
4      -73.98493     Private room     65               2                473
...          ...              ...    ...             ...                ...
46522  -73.98383  Entire home/apt    145               7                  0
46523  -73.92733  Entire home/apt     87               6                  0
46524  -73.93287     Private room     59               3                  0
46525  -73.97029  Entire home/apt     80              30                  0
46526  -73.98209     Private room     66               1                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
0      2019-11-04               0.37                               2
1      2020-08-01               4.75                               1
2      2019-12-02               0.37                               1
3      2014-01-02               0.01                               1
4      2020-03-15               3.44                               1
...           ...                ...                             ...
46522         NaN                NaN                               1
46523         NaN                NaN                               2
46524         NaN                NaN                               1
46525         NaN                NaN                               1
46526         NaN                NaN                               1

       availability_365  private_room_in_williamsburg  adjusted_price
0                   365                             0             175
1                   265                             0              75
2                   365                             0              60
3                   295                             0             175
4                   340                             0              65
...                 ...                           ...             ...
46522               164                             0             145
46523                85                             0              87
46524                90                             0              59
46525               113                             0              80
46526                38                             0              66

[46527 rows x 18 columns]>

In [23]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  

df['room_type']

0        Entire home/apt
1        Entire home/apt
2           Private room
3        Entire home/apt
4           Private room
              ...
46522    Entire home/apt
46523    Entire home/apt
46524       Private room
46525    Entire home/apt
46526       Private room
Name: room_type, Length: 46527, dtype: object

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [29]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

group_by_object = df.groupby('neighbourhood_group')

In [30]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 

group_by_object['price'].mean

In [ ]:
# 2.5. Using `groupby`, find the mean price for each room_type.

In [13]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups.

In [14]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.

In [15]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [16]:
# 1. Load the `prices.csv` and the `n_listings.csv`

In [18]:
# 2. Do join that keeps all the records for each table.

In [ ]:
# 3. Save your joined csv as `joined.csv` into the data folder.

In [ ]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.